<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAMURAICARS</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

</head>

<body class="d-flex flex-column vh-100 bg-image" style="background-image:url('https://quanticalabs.com/Carservice/Template/images/samples/1920x1200/image_01.jpg'); width: 100%; height: 100%;  background-size: cover; ">
     
        <main class="container mt-3 mb-3">
            <%- include('../partials/flash')%>
            <div class="container d-flex justify-content-center align-items-center mt-3">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                        <div class="card shadow">
                           <img src="http://zwin.io/html/coche/assets/img/home-02/01.png" alt="" class="card-img-top" />  <!-- https://images.unsplash.com/photo-1571863533956-01c88e79957e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80 -->
                            <div class="card-body">
                                <h5 class="card-title">Login</h5>
                                <form action="/login" method="POST" class="validated-form" novalidate>
                                    <div class="mb-3">
                                        <label class="form-label" for="username">User ID</label>
                                        <input class="form-control" type="text" id="username" name="username" autofocus required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
            
                                    <div class="mb-3">
                                        <label class="form-label" for="password">Password</label>
                                        <input class="form-control" type="password" id="password" name="password" required>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div> 
                                    <button class="btn btn-primary btn-block">Login</button>
                                    <div class="mt-3" style="font-size: 13px;"><a href='/signup' style="text-decoration: none;"> Doesn't have an account? Sign up</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
         </main>
  
    <%- include('../partials/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>

    
        <script src='/javascripts/validateForms.js'></script>    
</body>
</html>